.content {
	background-color: #eae6ff;
	min-height: calc(80% - 3px);
	width: 90%;
	padding: 0% 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#picture {
	width: 50%;
	height: 50%;
	outline: var(--default-border);
	padding: 0px;
	object-fit: cover;
}

.info {
	width: 60%;
	color: #898a8b;
}

#info-container {
	width: 50%;
}

#info-container>* {
	margin: 20px 0;
}

#info-container h1 {
	font-size: 40px;
}

#button-container button {
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border: var(--default-border);
	margin-left: 10px;
	cursor: pointer;
}

#contact-button {
	background-color: #fff;
	color: #000;
}

#portfolio-button {
	background-color: transparent;
	color: #000;
}

#button-container button:hover {
	background-color: #000;
	color: #fff;
}

button i {
	margin-left: 5px;
}